<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- <div class="container"> -->
        <i class="fa-solid fa-key fa-8x"></i>
        <br>
            <form action="/register" method="get">
                <button type="submit" class="submit_button">Register</button>
            </form>
            <form action="/login" method="get">
                <button type="submit" class="submit_button">Login</button>
            </form>
            
            

    <script src="https://kit.fontawesome.com/4ec194eaa6.js" crossorigin="anonymous"></script>
</body>
</html>