<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <i class="fa-solid fa-key fa-8x"></i>
        <form action="/login" method="post">
            <input type="text" name="username" class="data_fields" placeholder="Enter user name"> <br>
            <input type="password" name="password" class="data_fields" placeholder="Password">
            <br>
            <button type="submit" class="submit_button">Login</button>
        </form>
        <form action="/login_google" method="post">
            <button type="submit" class="google"><img  src="icons8-google-48.png" alt="" srcset=""></button>
        </form>
    <script src="https://kit.fontawesome.com/4ec194eaa6.js" crossorigin="anonymous"></script>
</body>
</html>