<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- <div class="container"> -->
        <i class="fa-solid fa-key fa-8x"></i>
        <form action="/register" method="post">
            <!-- <input type="text" name="name" class="data_fields" placeholder="Enter name"> -->
            <!-- <br> -->
            <input type="text" name="username" class="data_fields" placeholder="Enter user_name"> <br>
            <!-- <input type="number" name="mob_number" class="data_fields" placeholder="Contact No"> -->
            <!-- <br> -->
            <!-- <input type="date" name="birthday" class="data_fields" placeholder="DOB"> -->
            <!-- <br> -->
            <input type="password" name="password" class="data_fields" placeholder="Password">
            <br>
            <button type="submit" class="submit_button">Register</button>
            <h4>OR</h4>
               <a href="/auth/google"><img class="platform" src="icons8-google-48.png"></a> 
               <a href="/auth/facebook"><img src="facebook.png" class="platform" alt="" srcset=""></a>
        </form>
    <!-- </div> -->

    <script src="https://kit.fontawesome.com/4ec194eaa6.js" crossorigin="anonymous"></script>
</body>
</html>