body{
    margin: 0 0;
    text-align: center;
    margin-top: 15%;
}
.fa-key{
    margin-bottom: 50px;
}
.data_fields{
    margin-top: 25px;
    height: 25px;
    width: 300px;
    font-size: 20px;
}
.google{
    border:0;
    background-color: white;
    margin-top: 25px;
}
.submit_button{
    width: 100px;
    height: 35px;
    margin-top: 25px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.submit_button:hover{
    background-color: rgb(62, 61, 61);
}